[Unit]
Description=FlightBoard Kiosk - Chromium fullscreen display
After=flightboard.service
Wants=flightboard.service

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash -c '\
  xinit /bin/bash -c "\
    xset s off && \
    xset -dpms && \
    xset s noblank && \
    unclutter -idle 0.5 -root & \
    chromium --kiosk --noerrdialogs --disable-infobars --no-first-run \
      --disable-session-crashed-bubble --disable-translate \
      --disable-features=TranslateUI \
      --check-for-update-interval=31536000 \
      http://localhost:3001" -- :0 -nocursor'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
